/* tag css if needed */
@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NeoDunggeunmo";
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(200, 219, 255);
}
